
:root{
    --basic: #aaaaaa; /* for paragraph --*/
    --header: #aaaaaa;
        font-family: 'Times New Roman', Garmond, serif;
        background-image: url('Mount.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        
    }

    .container{
      margin-top: 500px;
      margin-left: 125px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 300px repeat(auto-fill,300px);
        
    }

.bg1{
  width: 250px;
  height: 250px;
   background-image: url(dog.jpg); 
  background-repeat: none;
  background-size: cover;
  opacity: .5;
  position: absolute;

}

    .card1{
        width: 250px;
            height: 250px;
            border: 5px solid #fbfcfc;
            /* background-color: #1c6400;*/
            /*background-image: url(dog.jpg);
            background-repeat: none;
            background-size: cover;
            background-image: url(dog.jpg);*/
            border-radius: 2%;
            opacity: 1;
            
    }

    hr{
        width: 98%;
        height: 10px;
        background-color: #c9bb00;
        
    }

    h1{
        text-align: center;
        font-size: 30px;
        font-family: fantasy;
        color: #009e00;
    }

    p{
        text-align: center;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        color: #009e00;
    }

    .center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
    
    .btn {
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        margin-top: 30px;
        margin-left: 25px;
        margin-right: 50px;
        
      } 
       
      .btn:hover .btn-slide-show-text1 {
        margin-top: 30px;
        
      } 
       
      .btn-moving-gradient {
        height: 40px;
        width: 200px;
        font-size: 16px;
        font-weight: 600;
        color: rgb(255, 255, 255);
        cursor: pointer;
        border: none;
        background-size: 300% 100%;
        border-radius: 50px;
      } 
       
      .btn-moving-gradient:hover {
        transition: all 0.5s ease-in-out 0s;
        background-position: 100% 0px;
      } 
       
      .btn-moving-gradient--green {
        background-image: linear-gradient(90deg, rgb(228, 213, 3), rgb(161, 156, 8), rgb(146, 148, 12), rgb(228, 213, 3));
        box-shadow: rgb(1, 168, 29) 0px 4px 15px 0px;
      }